.main {
    /* background-image: url('../../../assets/Images/Illustration2.png');
    height: 100%;
    width: 100%;
    background-repeat: repeat;
    background-position: top;
    background-repeat: repeat; */
    margin: 30px 0;
}
.search-bg {
    background-image: url('../../../assets/Icons/feather-search.png');
    box-sizing: border-box;
    border-radius: 50px;
    font-size: 16px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 18px 10px 20px;
    margin: 0 4px;
    background-size: 50%;
}
.search-area {
    width: 100%;
    position: relative;
}
.search-input {
    border: none;
    background: none;
    font-size: 16px;
    width: 40%;
    margin-left: 1%;
    color: #6e6e6e;
}
.search-input:focus {
    outline: none;
}
.model {
    position: absolute;
    z-index: 1;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    left: 55px;
    color: rgb(252, 203, 64);
}
.category {
    color: #bfbfbf;
    flex-direction: column;
    align-items: flex-end;
}
.cate-header {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
}
.list-outlet {
    flex-wrap: wrap;
}
.recipe-card {
    position: relative;
    margin: 10px;
    height: 300px;
    width: 230px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}
.recipe-card:hover {
    box-shadow: 0px 0px 10px #000000;
}
.recipe-data {
    position: absolute;
    background: linear-gradient(0deg, rgba(0,0,0,0.5956757703081232) 0%, rgba(0,0,0,0.7749474789915967) 100%);
    height: 100px;
    width: 100%;
    bottom: 0;
    border-radius: 0 0 5px 5px;
    color: #f1f1f1;
    padding: 5px;
    font-weight: 500;
}
.tag {
    position: absolute;
    right: 0;
    padding: 5px 20px;
    background: #1f1e1d;
    border-radius: 0 5px;
    color: #ffff;
}

@media screen and (max-width: 600px) {
.search-input {
    width: 60%;
    font-size: 12px;
}
.list-outlet {
    overflow: auto;
    flex-wrap: nowrap;
 }
}